# EINSBOT PERFORMANCE

**LIBRARIES**

In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import mean_absolute_error

**1. IMPORT DATA**

In [2]:
readings = pd.read_csv("EinsBotReadings.csv")

In [3]:
readings.head()

,Displacement,Input Parameter A,Input Parameter B,Output Parameter,Input Parameter C
0,-20.0,-58.0,-45.0,20.0,13.00
1,-19.9,-57.7,-44.8,19.9,12.95
2,-19.8,-57.4,-44.6,19.8,12.90
3,-19.7,-57.1,-44.4,19.7,12.85
4,-19.6,-56.8,-44.2,19.6,12.80

In [4]:
readings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Displacement       400 non-null    float64
 1   Input Parameter A  400 non-null    float64
 2   Input Parameter B  400 non-null    float64
 3   Output Parameter   400 non-null    float64
 4   Input Parameter C  400 non-null    float64
dtypes: float64(5)
memory usage: 15.8 KB

**2. DATA SPLITTING**

**2.1 Vertical Split**

In [5]:
# Define target and features
target = "Output Parameter"
features = ["Displacement", "Input Parameter A", "Input Parameter B", "Input Parameter C"]
y = readings[target]
X = readings[features]
X.head()

   Displacement  Input Parameter A  Input Parameter B  Input Parameter C
0         -20.0              -58.0              -45.0              13.00
1         -19.9              -57.7              -44.8              12.95
2         -19.8              -57.4              -44.6              12.90
3         -19.7              -57.1              -44.4              12.85
4         -19.6              -56.8              -44.2              12.80

**2.2 Horizontal Split**

In [6]:
# Split the data into train and test
cutoff = int(len(X) * 0.8)
X_train, y_train = X.iloc[ :cutoff], y.iloc[:cutoff]
X_test, y_test = X.iloc[cutoff: ], y.iloc[cutoff: ]

**3. MODEL BUILDING**

**3.1 Setting the model MAE baseline**

In [7]:
y_mean = y_train.mean()
y_pred_baseline = [y_mean]*len(y_train)
print("Mean Output Parameter value:", round(y_mean, 2))
print("Baseline MAE:", mean_absolute_error(y_train, y_pred_baseline))

Mean Output Parameter value: 4.05
Baseline MAE: 8.0

**3.2 Model Iteration**

In [8]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

**3.3 Model Evaluation**

In [9]:
training_mae = mean_absolute_error(y_train, model.predict(X_train))
test_mae = mean_absolute_error(y_test, model.predict(X_test))
print("Training MAE:", round(training_mae, 2))
print("Test MAE:", round(test_mae, 2))

Training MAE: 0.0
Test MAE: 0.0

**4. SAVING THE MODEL**

In [10]:
filename = 'model.pkl'
pickle.dump(model, open(filename, 'wb'))